.create-post-content-wrapper {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 16px;
    margin: 25px auto;
    border: 1px solid;
    box-shadow: 5px 10px #434242;
} 